{% load staticfiles%}

<!DOCTYPE html>
<html>
<head>
	<title>sucessful login</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="http://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <link rel="stylesheet" href="{% static 'coach/css/upload.css' %}" />
</head>
<body> 
    <div id="coach">
        <h1>
            Welcome
        </h1>
        <img src="{{coach.profile}}" alt="Mountain View" style="width:100px;height:100px;">
        <h1>
            {{coach.firstname}} {{coach.lastname}}
        </h1>
    </div>

<form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>

            <p>{{ form.docfile.label_tag }} {{ form.docfile.help_text }}</p>

            <p>
                {{ form.docfile.errors }}
                {{ form.docfile }}
            </p>

            <p><input type="submit" value="Upload"/></p>
        </form>

</body>
</html>